::-webkit-scrollbar {width:2px;height:2px;}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#aaa;
}
::-webkit-scrollbar-thumb:window-inactive {background:;}

body {
    background:black;
    font-size:10px;
    margin:0px;
    line-height:140%;
    text-align:left;
    background-image:url("");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

#content{
    top:25%;
    left:50%;
    width:50%;
    height:220px;
    margin-top:-110px;
    margin-left:-25%;
    position:fixed;
    z-index:1;
}
#contain{
    top:25%;
    left:50%;
    width:50%;
    height:600px;
    margin-top:-100px;
    margin-left:-25%;
    background:rgba(255,255,255,0.05);
    position:fixed;
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
    z-index:-1;
}



#container{
    width:2000px;
    overflow-x:scroll;
    overflow-y:hidden;
    position:relative;
}

#inf{
    position:fixed;width:50%;
    background:rgba(0,0,0,0.5);
    height:35px;
}

.tit{
    padding:11px 10px 11px 10px;
    width:120px;
    text-align:left;
    background:#cb1a5c;
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:1px;
    position:fixed;
    font-size: 15px;
}

#box{
    width:500px;
    padding:10px;
    margin-left:15px;
    margin-top:47px;
    border:1px solid #272727;
    float:left;
    text-align:center;
    box-shadow:0px 0px 5px #070707;
    background:rgba(0,0,0,0.3);
    z-index:1;
}
#box img {
  width:500px;
  height:500px;
  margin-bottom:0px;
  opacity: .5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

#box img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

#subtitulo {
    position:fixed;
    margin-left:140px;
    padding-left:10px;
    padding-top: 13px;
    width:29%;
    color:rgba(255,255,255,0.5);
    text-decoration:none;
    font-family:arial;
    font-size:10px;
    text-transform:uppercase;
    letter-spacing:1px;
    margin-right:15px;
    z-index:100;
}

#subtitulo a {
  color: rgba(255,255,255,0.5);
}
