body {
  margin: 0;
  background-color: black;
  overflow-x: hidden;
}

#header {
    min-width:100%;
    min-height:100%;
    background-color:black;
    background-size:cover;
    background-position:center;
}

video #bgvid {
  position: relative;
 top: 50%;
 margin-left: 50%;
 min-width: 50%;
 min-height: 50%;
 width: auto;
 height: auto;
 z-index: -100;
 -ms-transform: translateX(-50%) translateY(-50%);
 -moz-transform: translateX(-50%) translateY(-50%);
 -webkit-transform: translateX(-50%) translateY(-50%);
 transform: translateX(-50%) translateY(-50%);
 background: url(polina.jpg) no-repeat;
 background-size: cover;
}

#navbar {
  width: 100%;
  height: auto;
  background-color: transparent;
  text-align: center;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
}

#navbar a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 23px;
  padding: 30px;
  font-weight: bold;
  text-shadow: -1px 0px #cb1a5c, -2px -1px #cb1a5c, 1px 0px #5cf4e2, 2px 1px #5cf4e2;
  color: #fff;
  font-family: vt323;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  opacity: 0.3;
}

#navbar a:hover {
  opacity: 0.8;
  text-shadow: -1px -1px #cb1a5c, -2px -2px #cb1a5c, 1px 1px #5cf4e2, 2px 2px #5cf4e2;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

#about {
  position: relative;
  width: 900px;
  text-align: center;
  color: rgba(255,255,255,0.8);
  left: 20%;
  font-size: 15px;
  margin-top: 300px;
  padding-bottom: 120px;
  padding-top: 100px;
}

.pp {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  position: absolute;
  left: -60px;
  top: 220px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.pp:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
  transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

#work {
  position: relative;
  width: 900px;
  text-align: center;
  color: gray;
  left: 20%;
  font-size: 15px;
  margin-top: 400px;
  padding-bottom: 120px;
  padding-top: 0px;
}

.d3 {
  margin: 0.5em 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 3.5em;
  color: #22313F ;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-shadow: -0.05em 0 0 #cb1a5c,  0.05em 0 0 #5cf4e2;
}

p {
  border-top: 1px solid rgba(255,255,255,0.6);
  border-bottom: 1px solid rgba(255,255,255,0.6);
  padding: 20px;
}
