/*Scrollbar*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
/*Main Structure*/

body {
    background:#000;
    color:#fff;
    font-family:times;
    font-size:11px;
    line-height:180%;
}

a {
    text-transform: uppercase;
    font-style: italic;
    text-decoration:none;
    outline:none;
    -moz-outline-style:none;
    color:#6a6a6a; /*Change links colour here*/
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

a:hover {
    color:#e6e6e6;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

/*Header*/

#header {
    margin-left:-15px;
    margin-top:175px;
    background:transparent;
    width:680px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    position: fixed;
}

.d3 {
  margin: 0.5em 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 7.5em;
  color: #22313F ;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-shadow: -0.05em 0 0 #cb1a5c,  0.05em 0 0 #5cf4e2;
}

/*Content*/

#container {
    margin: 0px auto;
    margin-top: 100px;
    width: 680px;
    background:rgba(255,255,255,0.03);
    border: solid 15px rgba(255,255,255,0.05);
}

#content {
    position:relative;
    width:630px;
    height:390px;
    padding:15px 23px 15px 23px;
    overflow:auto;
    text-align:center;
    line-height:150%;
    font-size: 14px;
    font-color: rgba(255,255,255,0.8);
}

/*Links*/

#navigation {
    text-align:center;
    margin:15px 0;
}

#navigation a {
    color:#fff;
    font-family: arial;
    padding:10px;
    font-size:10px;
    text-transform:uppercase;
    text-decoration: underline;
    font-style: normal;
}

#navigation a:hover {
    color:#e6e6e6;
}

img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}
